/*
========================================================================================
    Docker Configuration
========================================================================================
    Settings for running with Docker containers
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
    temp = 'auto'
}

// Disable other container engines when using Docker
singularity.enabled = false
